* {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
}

.body {
  background-color: #140f31;
  text-align: center;
  margin-bottom: 0px;
  height: 100%;
  min-height: 100vh;
}

h1 {
  padding-top: 200px;
  color: whitesmoke;
  font-size: 40px;
  text-shadow: 2px 2px 2px #80bcf5;
}

.question {
  color: #80bcf5;
  text-shadow: 2px 2px 1px #140f31;
  padding-bottom: 20px;
}

h3 {
  margin-top: 100px;
  margin-bottom: 20px;
  color: whitesmoke;
  font-size: 25px;
  text-shadow: 1px 2px 2px #80bcf5;
}

.input {
  background: whitesmoke;
  color: #140f31;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  border: none;
  width: 60px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.inputTitle {
  background: whitesmoke;
  color: #140f31;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  border: none;
  width: 200px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  background: #80bcf5;
  color: #140f31;
  padding: 5px 8px 5px 8px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  overflow-wrap: break-word;
}

.empty {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.savedExercises {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  align-items: center;
  display: flex; /* added this line */
  flex-direction: column; /* added this line */
  margin: auto;
}

.preExercises {
  margin-top: 10px;
}

.generatedOutput {
  width: 250px;
  padding: 8px 0px 8px 0px;
  list-style-type: none;
  color: whitesmoke;
  justify-content: center;
  display: block;
  margin: auto;
  box-shadow: 2px 2px 8px #80bcf5;
  background-color: #140f31;
}

.workout {
  padding-bottom: 100px;
}
