
*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.workout{
    overflow-wrap: break-word;
    padding: 8px;
    background: #E4B7E5;
    border-radius: 10px;
    width: 300px;
    color: #63458A;
    margin: auto;
}

h1{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;
    color: #E4B7E5;
    text-shadow: 4px 4px 4px #3a136d;
}

body{
    text-align: center;
    background: #63458A;
    background-size: cover;
}

.button{
    background: #3a136d;
    color: #E4B7E5;
    padding:5px;
    border: none;
    border-radius: 30px;
    margin: 10px;
    width: 80px;
    overflow-wrap: break-word;
}

h3{
    margin-top: 20px;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #E4B7E5;
    text-shadow: 4px 4px 4px #3a136d;
}

.question{
    display: flex;
    justify-content: center;
    color: #3a136d;
}

.input{
    background: #E4B7E5;
    color:#63458A;
    padding: 5px;
    border: 2px solid #63458A;
    border-radius: 20px;
    width: 120px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.savedWorkout{
    color: #3a136d;
    margin-top: 50px;
}

ul{
    text-align: left;
    margin-left: 40%;
    padding-top: 10px;
    list-style-type: none;
}

.preExercises{
    border-bottom: 1px solid #63458A;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.generatedOutput{
    margin:auto;
    width:250px;
    padding-top: 10px;
    list-style-type: none;
}

a{
    color:#3a136d;
}

