* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  text-align: center;
  background-image: url("boliviainteligente-_zUfS82Nj5U-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  height: 100%;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  padding-top: 200px;
  color: whitesmoke;
  font-size: 40px;
  text-shadow: 4px 4px 4px #38002d;
}

.question {
  color: #e4b7e5;
  text-shadow: 2px 2px 1px #38002d;
  padding-bottom: 20px;
}

h3 {
  margin-top: 20px;
}

.input {
  background: whitesmoke;
  color: #38002d;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  border: none;
  width: 60px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.button {
  background: #38002d;
  color: #e4b7e5;
  padding: 5px 8px 5px 8px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  overflow-wrap: break-word;
}

.empty {
  padding-bottom: 400px;
  margin-bottom: 0px;
}

.generatedOutput {
  width: 250px;
  padding: 8px 0px 8px 0px;
  list-style-type: none;
  color: whitesmoke;
  justify-content: center;
  display: block;
  margin: auto;
  text-shadow: 2px 2px 8px #38002d;
  background-color: #38002d;
}

.preExercises {
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.workout {
  padding-bottom: 100px;
}
